<!DOCTYPE html>

<html>
    <head>
        <title>Simple Serial</title>
	<script type="text/javascript" src="phonegap.js"></script>
	<script type="text/template" id="data-template">
			<li><%= title %></li>
	</script>
	<script type="text/template" id="sensor-template">
			<li><%= title %></li>
	</script>
	<script type="text/template" id="menu-template">
		<li><a href="<%= url %>" data-id="<%= url %>" class="choice"><%= title %></a></li>
	</script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="js/underscore-min.js"></script>
	<script src="js/backbone-min.js"></script>
        <script type="text/javascript" src="js/index.js"></script>
        <script>
	  function init() {
		app.initialize();
		Backbone.history.start({pushState: true});
		appRouter.start();
	  } 
        </script>
    </head>

    <body onload="init();">
	<h3>Version x.01.5</h3>
        <div class="app">
            <div id="ui">
                <button id="connectButton">Connect</button>
                <button id="clearButton">Clear Data</button>
                <button id="dataButton">Get Data</button>
                <button id="tempButton">Temperature Off</button>
                <button id="phButton">Ph Off</button>
                <button id="showButton">Show Data</button>
                <button id="submitButton">Submit Data</button>
                <button id="sdButton">SD Save</button>
                <button id="gpsButton">GPS Coordinates</button>
                <button id="camButton">Camera Button</button>
                <button id="dirButton">Directory Listing</button>
            </div>
        <div id="message">Hello.</div>
        <div id="myImage">Image</div>
        </div>
	<div>
                <a href="index.html">Home</a>
	</div>
	<div id="content"></div>
    </body>
</html>
