<!DOCTYPE html>
<html class="ui-mobile-rendering">
  <head>
      <title>Sensor</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <!-- <link rel="stylesheet" href="http://demos.jquerymobile.com/1.4.2/css/themes/default/jquery.mobile-1.4.2.min.css"/> // -->
        <link rel="stylesheet" href="css/font-awesome.min.css" />
        <link rel="stylesheet" href="css/jquerymobile.css" />
        <link rel="stylesheet" href="css/jquerymobile.nativedroid.css" />
        <link rel="stylesheet" href="css/jquerymobile.nativedroid.dark.css"  id='jQMnDTheme' />
        <link rel="stylesheet" href="css/jquerymobile.nativedroid.color.green.css" id='jQMnDColor' />
	<script type="text/javascript" src="phonegap.js"></script>
	<script type="text/template" id="action-template">
		        <button id="<%= action %>" data-id="<%= action %>" class="ui-btn ui-btn-inline"><%= title %></button>
	</script>
	<script type="text/template" id="data-template">
			<h3>Data</h3>
			<li><%= title %></li>
	</script>
	<script type="text/template" id="file-template">
			<li><%= title %></li>
	</script>
	<script type="text/template" id="sensor-template">
			<h3>Sensor</h3>
			<li><%= title %></li>
	</script>
	<script type="text/template" id="menu-template">
	  <h4><a id="choice" href='#' data-id="<%= url %>" data-role='button'><%= title %></a></h4>
	</script>
	<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
        <!-- <script src="http://demos.jquerymobile.com/1.4.2/js/jquery.mobile-1.4.2.min.js"></script> // -->
	<script src="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.js"></script>
	<script src="js/underscore-min.js"></script>
	<script src="js/backbone-min.js"></script>
        <script type="text/javascript" src="js/index.js"></script>
	<script type="text/javascript">
		function init() {
		  alert("init");
		  app.initialize();
		  Backbone.history.start({pushState: true});
		  appRouter.start();
		}
	</script>
    </head>
  <body onload="init();" class="ui-mobile-viewport ui-overlay-b">
    <div data-role="page" data-theme="b">
      <div data-role="content">
	<h3><a href="index.html">Home</a> - Version x.02.20</h3>
	<div id="menu" data-role='collapsible' data-content-theme='b'>
	</div>
      </div> <!-- close content // -->
    </div> <!-- close page // -->
  </body>
</html>
