<!DOCTYPE html>
<html class="ui-mobile-rendering">
  <head>
      <title>Sensor</title>
        <link rel="stylesheet" href="http://demos.jquerymobile.com/1.4.2/css/themes/default/jquery.mobile-1.4.2.min.css"/>
	<script type="text/javascript" src="phonegap.js"></script>
	<script type="text/template" id="action-template">
		        <button id="<%= action %>" data-id="<%= action %>" class="ui-btn ui-btn-inline"><%= title %></button>
	</script>
	<script type="text/template" id="data-template">
			<h3>Data</h3>
			<li><%= title %></li>
	</script>
	<script type="text/template" id="file-template">
			<h3>File</h3>
			<li><%= title %></li>
	</script>
	<script type="text/template" id="sensor-template">
			<h3>Sensor</h3>
			<li><%= title %></li>
	</script>
	<script type="text/template" id="menu-template">
		<li><a href="" data-id="<%= url %>" class="choice"><%= title %></a></li>
	</script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="http://demos.jquerymobile.com/1.4.2/js/jquery.mobile-1.4.2.min.js"></script>
	<script src="js/underscore-min.js"></script>
	<script src="js/backbone-min.js"></script>
	<script type="text/javascript" src="js/backbone.localStorage.js"></script>
        <script type="text/javascript" src="js/index.js"></script>
	<script type="text/javascript">
		function init() {
		  //alert("init");
		  app.initialize();
		  Backbone.history.start({pushState: true});
		  appRouter.start();
		}
	</script>
    </head>
    <body onload="init();">
	<h3>Version x.02.20</h3>
	<div id="home"><a href="index.html">Home</a></div>
	<div id="menu">Menu:</div>
	<div>Local Storage</div>
	<button id="clearDataButton">Clear Stored Data</button>
	<button id="saveDataButton">Save Local Data to File</button>
	<button id="showDataButton">Show Stored Data</button>
	<button id="submitDataButton">Submit Stored Data</button>
	<div>Misc Tools</div>
	<button id="clearContentButton">Clear Content</button>
	<button id="getGPSButton">Get Coordinates</button>
	<button id="nativeAlertButton">Native Alert</button>
	<button id="sendSMSButton">Send SMS</button>
	<button id="getCameraButton">Take Picture</button>
	<button id="testDataButton">Test Data</button>
	<div id="home"><a href="index.html">Home</a></div>
    </body>
</html>
